@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@1,700&display=swap');

html {
    background-size: 30px 30px;
    background-image: radial-gradient(circle, #ff66ff 1.5px, rgba(0, 0, 0, 0) 1.6px);
}

.navbar {
    position: relative;
    display: flex;
    background: linear-gradient(to top right, #ff66ff 25%, #3366ff 100%);
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #ff66ff 20%, #a80030 80%);
    border-image-slice: 1;
    width:100%;
}

.navbar-logo img {
    padding-top: 0.8vh;;
    padding-bottom: 0.4vh;
    height: 58px;
    width: 102px;
}

.navbar-menu {
    flex: 1;
}

.navbar-links {
    margin-left: 8vw;
    margin-top: 25px;
    float: right;
    list-style-type: none;
}

.navbar-links a:hover {
    transition: 0.5s;
    font-size: 26px;
    color: #a80030;
    text-decoration: underline;
}

.navbar-links a {
    transition: 0.5s;
    font-family: 'Ubuntu Mono', monospace;
    color: #a80030;
    font-size: 20px;
    text-decoration: none;
}

#navbar-links-community {
    margin-right: 1.5vw;
}

.main_content {
    position: relative;
	border: 2px solid rgb(155, 155, 155);
	border-radius: 4px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgb(235, 133, 177) 0%, rgba(148,187,233,1) 100%);
    width: 55%;

	padding: 20px;

	margin-left: 325px;
	
	margin-top: 20px;
	margin-bottom: 10px;

	zoom: 120%;
}

#howto_install {
	margin-bottom: 6px;
	margin-top: 6px;
}

.downloads {
	margin-bottom: 10px;
}

.reklam {
    position: relative;
    display: flex;
    justify-content: center;
}

.footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom left, #ff66ff 25%, #3366ff 100%);
    border-top: 5px solid transparent;
    border-image: linear-gradient(to left, #ff66ff 20%, #a80030 100%);
    border-image-slice: 1;
    width: 100%;
    height: 6vh;
    bottom: 0px;
}

.footer h3 {
    font-family: 'Ubuntu Mono', monospace;
    color: #a80030;
    font-size: 1.5vw;
}

.middle-content {
    position: relative;
    border: 2px solid rgb(155, 155, 155);
    border-radius: 8px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgb(235, 133, 177) 0%, rgba(148,187,233,1) 100%);
    height: 46vh;
    width: 36vw;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
}

.middle-content iframe {
    border-radius: 10px;
    margin-top: 2vh;
}

.middle-content h2 {
    font-family: 'Ubuntu Mono', monospace;
    color: #a80030;
    font-size: 2vw;
    text-decoration: underline;
    margin-top: 10px;
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom left, #ff66ff 25%, #3366ff 100%);
    border-top: 5px solid transparent;
    border-image: linear-gradient(to left, #ff66ff 20%, #a80030 100%);
    border-image-slice: 1;
    width: 100%;
    height: 6vh;
}

.footer h3 {
    font-family: 'Ubuntu Mono', monospace;
    color: #a80030;
    font-size: 1.5vw;
}