.header {
	top: 0px;
	width: 100%;
	background-color: rgb(48, 48, 48);
	padding: 0px;
	

	border-bottom: 5px solid red;
}

.header #logo {
	width: 80px;
	margin: 10px;
}

.main_content {
	border: 2px solid rgb(155, 155, 155);
	border-radius: 4px;
	background-color: rgb(216, 216, 216);

	padding: 20px;

	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;

	zoom: 120%;
}

.footer {
	background-color: red;
	padding: 50px;
	margin-top: 1000px;
}
code {
	margin: 10px;
	margin-left: 0px;
	border: 1px solid gray;
	background-color: rgb(184, 184, 184);
	border-radius: 3px;
	padding: 5px;
}

#howto_install {
	margin-bottom: 6px;
	margin-top: 6px;
}

.downloads {
	margin-bottom: 10px;
}

.ad {
	position: fixed;
	left: -100px;
	rotate: 270deg;
}
