* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.navbar {
    position: relative;
    display: flex;
    border-bottom: 5px #a80030  solid;
    background-color: gray;
}

.navbar-logo img {
    padding-top: 8px;
    padding-bottom: 8px;
    height: 58px;
    width: 102px;
}

.navbar-menu {
    flex: 1;
}

.navbar-links {
    padding-top: 25px;
    padding-left: 125px;
    padding-right: 40px;
    float: right;
    list-style-type: none;
}

.navbar-links a {
    color: #a80030;
    font-size: 20px;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}