@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@1,700&display=swap');

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.navbar {
    position: relative;
    display: flex;
    border-bottom: 5px #a80030  solid;
    background: linear-gradient(to top right, #ff66ff 25%, #3366ff 100%);
}

.navbar-logo img {
    padding-top: 8px;
    padding-bottom: 8px;
    height: 58px;
    width: 102px;
}

.navbar-menu {
    flex: 1;
}

.navbar-links {
    margin-left: 8vw;
    margin-top: 25px;
    float: right;
    list-style-type: none;
}

.navbar-links a:hover {
    transition: 0.5s;
    font-size: 24px;
    color: #a80030;
}

.navbar-links a {
    transition: 0.5s;
    font-family: 'Ubuntu Mono', monospace;
    color: #a80030;
    font-size: 20px;
    text-decoration: none;
}

#navbar-links-community {
    margin-right: 1.5vw;
}

.content-image {
    background-color: #010027;
}

.content-image {
    
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.content {
    position: relative;;
    border: 2px solid rgb(155, 155, 155);
    border-radius: 8px;
    background: linear-gradient(to bottom left, #ff66ff 1%, #0099cc 100%);
    height: 40vw;
    width: auto;
    margin-top: 50px;
    margin-left: 2vw;
    margin-right: 2vw;
}

.content h2 {
    font-family: 'Ubuntu Mono', monospace;
    color: #a80030;
    text-decoration: underline;
    margin-top: 10px;
}

.content img {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 116px;
    width: 204px;
}

.content p {
    font-family: 'Ubuntu Mono', monospace;
}