* {
    margin: 0;
    height: 0;
}

#navbar {
    height: 80px;
    width: auto;
    border-bottom: 5px #a80030  solid;
    background-color: #737373;
}

#navbarlogo img {
    margin-top: 10px;
    margin-left: -10px;
    height: 58px;
    width: 102px;
}

#navbarmenu {
    text-align: right;
}

#navbarmenu li {
    padding-left: 70px;
    padding-top: 25px;
    list-style: none;
    display: inline-block;
}

#navbarmenu #li-communtiy {
    padding-right: 20px;
}

#navbarmenu a {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #a80030;
    transition: 0.6s;
}

#navbarmenu a:hover {
    color: white;
    transition: 0.6s;
}

#content-1 img {
    padding-left: 200px;
    width: 30%;
    height: auto;
    border-radius: 20px;
}

#content-2 img {
    width: 10%;
    height: auto;
}