@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@1,700&display=swap');

html {
    background-size: 30px 30px;
    background-image: radial-gradient(circle, #ff66ff 1.5px, rgba(0, 0, 0, 0) 1.6px);
}

.navbar {
    position: relative;
    display: flex;
    background: linear-gradient(to top right, #ff66ff 25%, #3366ff 100%);
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #ff66ff 20%, #a80030 80%);
    border-image-slice: 1;
    width:100%;
}

.navbar-logo img {
    padding-top: 0.8vh;;
    padding-bottom: 0.4vh;
    height: 58px;
    width: 102px;
}

.navbar-menu {
    flex: 1;
}

.navbar-links {
    margin-left: 8vw;
    margin-top: 25px;
    float: right;
    list-style-type: none;
}

.navbar-links a:hover {
    transition: 0.5s;
    font-size: 26px;
    color: #a80030;
    text-decoration: underline;
}

.navbar-links a {
    transition: 0.5s;
    font-family: 'Ubuntu Mono', monospace;
    color: #a80030;
    font-size: 20px;
    text-decoration: none;
}

#navbar-links-community {
    margin-right: 1.5vw;
}

#wiki_main {
	display: grid;
	margin: 20px;
}

#sidebar_container {
	border: 2px solid gray;
	border-radius: 10px;
	min-width: 250px;
	padding: 10px;
	background-color: white;
	grid-column-start: 0;
	grid-column-end: 1;
}

.content {
	margin-left: 20px;
	background-color: white;
	border-radius: 8px;
	border: 2px solid gray;
	grid-column-start: 1;
	grid-column-end: 2;
	padding: 10px;
}

#before_code {
	margin-bottom: 10px;
}

#after_code {
	margin-top: 10px;
}

.section_title {
	margin-bottom: 7px;
}

h2 {
	font-size: large;
	margin-bottom: 2px;
}

p {
	margin-bottom: 10px;
}

.content_links {
	text-decoration: none;
	color: blue;
	font-size: 17px;
	padding: 2px;
	transition: all 0.2s;
}

.content_links:visited {
	color: #a80030;
}

.content_links:hover {
	color: white;
	background-color: #3366ff;
}

li {
	margin-top: 5px;
}

#contents_title {
	font-size: 22px;
}
